

/* @import "../src/components/Header_Footer/Header.css"; */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
}

.pay-ìnomation{
  background-color: red;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


.user-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 50;
  background-color: #ccc; /* White background */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
  padding: 8px 0; /* Padding */
  min-width: 120px; /* Minimum width */
}


